<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.deanishe.alfred.zothero</string>
	<key>connections</key>
	<dict>
		<key>118BDCA4-C25F-449C-93D8-877E192E22D2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B07E7A55-14DC-42F2-8321-17C2E8090E03</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7123D0FE-B9BA-4300-9D28-410EE7B10E56</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E1E3A9E7-0EEF-4745-A62C-79E46A2AF51F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1AF47A02-39EA-41B0-BD44-C933C31014F5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>674740C4-BFDA-44C8-A478-586EF06217BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2B20149E-1275-476A-9CAA-254CB2DC74E0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8C9BC8AD-88E5-4822-A2D6-FE177D87AF64</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A966EACB-331B-488E-937C-5D8DE7767B9D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2C059A51-AE82-49BA-A5E9-13824D15C4EC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>27AB4926-3249-4A80-85B5-6176911ACE7D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>301ED75B-77EF-4479-B2A5-ADD51A1143E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>67475FEA-6BC4-4EBA-B18B-5BF88B41D320</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3D2145B0-1260-41B9-9EC1-A78EB5CA2400</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>65A74884-90D6-4453-963E-454CF4C84DCB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4C4E438A-90C4-463C-A31C-435EB61F8236</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9A384EEE-AA82-4FC5-8B13-1F7319613854</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>301ED75B-77EF-4479-B2A5-ADD51A1143E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2C059A51-AE82-49BA-A5E9-13824D15C4EC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D78E4F18-6D77-4514-A55F-8894C014AB60</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>53172C76-0F6F-4E84-8C96-D0E81629CBA4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4C4E438A-90C4-463C-A31C-435EB61F8236</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>5B8743DC-92EC-44FD-B6A5-1120B9B9DFAE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8F85FB21-8921-402F-BF70-C7C35E769212</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>65A74884-90D6-4453-963E-454CF4C84DCB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F41A047D-DC74-4085-AD36-E52EDD909FBD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>674740C4-BFDA-44C8-A478-586EF06217BF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>118BDCA4-C25F-449C-93D8-877E192E22D2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>7123D0FE-B9BA-4300-9D28-410EE7B10E56</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>09DFDC0D-394F-470C-974D-BB4AAB208CED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7D722132-9CB1-4556-B401-5A32F089CB28</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AB53FBF0-1EC6-43BE-96BA-A30A9E6E9B66</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>7E1721EF-1D18-410E-8ACF-810BE8A960A7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AF2071DD-5096-4528-8E57-EFD4E1817FEA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7F4D56BD-6BC8-4206-87AC-33E2F9C05A2E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8956B5DB-42F0-4570-9265-ECD302239D56</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7FB90320-6EAF-415A-9DD9-50B79BC0F901</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>53172C76-0F6F-4E84-8C96-D0E81629CBA4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8956B5DB-42F0-4570-9265-ECD302239D56</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C93018EF-4629-4261-B997-453D8F2D6856</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>9A384EEE-AA82-4FC5-8B13-1F7319613854</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2F6636A4-F41B-4D28-9AF3-754CE5B9975A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AEE6452E-9186-4609-8AD4-D74F469F1A79</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A950947F-8EA7-4749-AF55-2C7F9D6E695E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AF2071DD-5096-4528-8E57-EFD4E1817FEA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5D1E28B8-C1D6-495B-856F-F48C59150FE0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B07E7A55-14DC-42F2-8321-17C2E8090E03</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F912A5F2-6586-498F-8A32-C11B59C687F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C93018EF-4629-4261-B997-453D8F2D6856</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D78E4F18-6D77-4514-A55F-8894C014AB60</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3D2145B0-1260-41B9-9EC1-A78EB5CA2400</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D78E4F18-6D77-4514-A55F-8894C014AB60</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B8743DC-92EC-44FD-B6A5-1120B9B9DFAE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E1E3A9E7-0EEF-4745-A62C-79E46A2AF51F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B20149E-1275-476A-9CAA-254CB2DC74E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E703B0EC-921B-453A-A32F-14FDBFA54980</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>385AA15F-F7CF-440F-8567-48FD0CBCDC85</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F41A047D-DC74-4085-AD36-E52EDD909FBD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C76774C3-12EA-4242-AF38-35F8D7EA1E9B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E703B0EC-921B-453A-A32F-14FDBFA54980</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F912A5F2-6586-498F-8A32-C11B59C687F5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>65A74884-90D6-4453-963E-454CF4C84DCB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dean Jackson &lt;deanishe@deanishe.net&gt;</string>
	<key>description</key>
	<string>Search Zotero</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>ZotHero</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>zotero://select/items/{var:library}_{var:key}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>2F6636A4-F41B-4D28-9AF3-754CE5B9975A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>search</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>7FB90320-6EAF-415A-9DD9-50B79BC0F901</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>zot</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading…</string>
				<key>script</key>
				<string>./zh search "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search all fields</string>
				<key>title</key>
				<string>Search Zotero</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>53172C76-0F6F-4E84-8C96-D0E81629CBA4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>open-in-zotero</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>9A384EEE-AA82-4FC5-8B13-1F7319613854</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>.
/----------- ZOT OUT -----------\
query={query}
variables={allvars}
\-------------------------------/</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>4C4E438A-90C4-463C-A31C-435EB61F8236</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>zot:</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading…</string>
				<key>script</key>
				<string>./zh fields "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Choose a field to search on</string>
				<key>title</key>
				<string>Search Zotero by Field</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7D722132-9CB1-4556-B401-5A32F089CB28</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>search</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>AB53FBF0-1EC6-43BE-96BA-A30A9E6E9B66</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>attachments</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>67475FEA-6BC4-4EBA-B18B-5BF88B41D320</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>show-attachments</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>301ED75B-77EF-4479-B2A5-ADD51A1143E5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>citations</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>27AB4926-3249-4A80-85B5-6176911ACE7D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/open "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5D1E28B8-C1D6-495B-856F-F48C59150FE0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./zh attachments $key "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>AF2071DD-5096-4528-8E57-EFD4E1817FEA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>attachments</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>7E1721EF-1D18-410E-8ACF-810BE8A960A7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>show-citations</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>2C059A51-AE82-49BA-A5E9-13824D15C4EC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>citations</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>7F4D56BD-6BC8-4206-87AC-33E2F9C05A2E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>copy-cite</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>8F85FB21-8921-402F-BF70-C7C35E769212</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./zh citations "$key" "$1"
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8956B5DB-42F0-4570-9265-ECD302239D56</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>5B8743DC-92EC-44FD-B6A5-1120B9B9DFAE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>copy-cite</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>D78E4F18-6D77-4514-A55F-8894C014AB60</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>.
/----------- CITE OUT -----------\
query={query}
variables={allvars}
\--------------------------------/</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>C93018EF-4629-4261-B997-453D8F2D6856</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>copy-cite</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>AEE6452E-9186-4609-8AD4-D74F469F1A79</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./zh copy "$style" "$key"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A950947F-8EA7-4749-AF55-2C7F9D6E695E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/libexec/PlistBuddy -c "Set :variables:$varname \"$varval\"" info.plist

# Give Alfred a bit of time to notice info.plist has changed
# sleep 2</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F41A047D-DC74-4085-AD36-E52EDD909FBD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:stylename}</string>
				<key>title</key>
				<string>Changed default for {var:modkey}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C76774C3-12EA-4242-AF38-35F8D7EA1E9B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>set-default</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>3D2145B0-1260-41B9-9EC1-A78EB5CA2400</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>.
/----------- SETVAR OUT -----------\
query={query}
variables={allvars}
\----------------------------------/</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>65A74884-90D6-4453-963E-454CF4C84DCB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>config</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>1AF47A02-39EA-41B0-BD44-C933C31014F5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>flags=()
test -n "$style" &amp;&amp; {
	echo "style=$style" &gt;&amp;2
	flags+=(--style "$style")
}

./zh select $flags "$1"
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F912A5F2-6586-498F-8A32-C11B59C687F5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>zotconf</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading…</string>
				<key>script</key>
				<string>./zh config "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Edit workflow configuration</string>
				<key>title</key>
				<string>ZotHero Configuration</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>674740C4-BFDA-44C8-A478-586EF06217BF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>{var:next}</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>385AA15F-F7CF-440F-8567-48FD0CBCDC85</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>choose-style</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>B07E7A55-14DC-42F2-8321-17C2E8090E03</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>.
/----------- CONF OUT -----------\
query={query}
variables={allvars}
\--------------------------------/</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>118BDCA4-C25F-449C-93D8-877E192E22D2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:next}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>E703B0EC-921B-453A-A32F-14FDBFA54980</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>09DFDC0D-394F-470C-974D-BB4AAB208CED</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>open-url</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>7123D0FE-B9BA-4300-9D28-410EE7B10E56</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./zh clear</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2B20149E-1275-476A-9CAA-254CB2DC74E0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Zotero database will be reloaded on next run</string>
				<key>title</key>
				<string>Cache Cleared</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8C9BC8AD-88E5-4822-A2D6-FE177D87AF64</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>reload</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>E1E3A9E7-0EEF-4745-A62C-79E46A2AF51F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>config</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>A966EACB-331B-488E-937C-5D8DE7767B9D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>ZotHero
=======

Search your Zotero database and copy citations.


Configuration
-------------

Edit the `ZOTERO_DIR` variable to point to Zotero 5's data directory if you aren't using the default (~/Zotero).</string>
	<key>uidata</key>
	<dict>
		<key>09DFDC0D-394F-470C-974D-BB4AAB208CED</key>
		<dict>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>1100</integer>
		</dict>
		<key>118BDCA4-C25F-449C-93D8-877E192E22D2</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>950</integer>
		</dict>
		<key>1AF47A02-39EA-41B0-BD44-C933C31014F5</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>920</integer>
		</dict>
		<key>27AB4926-3249-4A80-85B5-6176911ACE7D</key>
		<dict>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>2B20149E-1275-476A-9CAA-254CB2DC74E0</key>
		<dict>
			<key>note</key>
			<string>Clear cached data</string>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>1270</integer>
		</dict>
		<key>2C059A51-AE82-49BA-A5E9-13824D15C4EC</key>
		<dict>
			<key>note</key>
			<string>$action = show-citations</string>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>2F6636A4-F41B-4D28-9AF3-754CE5B9975A</key>
		<dict>
			<key>note</key>
			<string>Open entry in Zotero</string>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>301ED75B-77EF-4479-B2A5-ADD51A1143E5</key>
		<dict>
			<key>note</key>
			<string>$action = show-attachments</string>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>385AA15F-F7CF-440F-8567-48FD0CBCDC85</key>
		<dict>
			<key>xpos</key>
			<integer>1540</integer>
			<key>ypos</key>
			<integer>920</integer>
		</dict>
		<key>3D2145B0-1260-41B9-9EC1-A78EB5CA2400</key>
		<dict>
			<key>note</key>
			<string>$action = set-default</string>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>760</integer>
		</dict>
		<key>4C4E438A-90C4-463C-A31C-435EB61F8236</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>53172C76-0F6F-4E84-8C96-D0E81629CBA4</key>
		<dict>
			<key>note</key>
			<string>Search all fields</string>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>5B8743DC-92EC-44FD-B6A5-1120B9B9DFAE</key>
		<dict>
			<key>xpos</key>
			<integer>870</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>5D1E28B8-C1D6-495B-856F-F48C59150FE0</key>
		<dict>
			<key>note</key>
			<string>Open file or URL</string>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>65A74884-90D6-4453-963E-454CF4C84DCB</key>
		<dict>
			<key>xpos</key>
			<integer>1080</integer>
			<key>ypos</key>
			<integer>760</integer>
		</dict>
		<key>674740C4-BFDA-44C8-A478-586EF06217BF</key>
		<dict>
			<key>note</key>
			<string>Configure workflow</string>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>920</integer>
		</dict>
		<key>67475FEA-6BC4-4EBA-B18B-5BF88B41D320</key>
		<dict>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>7123D0FE-B9BA-4300-9D28-410EE7B10E56</key>
		<dict>
			<key>note</key>
			<string>$action = open-url</string>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>1130</integer>
		</dict>
		<key>7D722132-9CB1-4556-B401-5A32F089CB28</key>
		<dict>
			<key>note</key>
			<string>Choose a field to search</string>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>7E1721EF-1D18-410E-8ACF-810BE8A960A7</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>7F4D56BD-6BC8-4206-87AC-33E2F9C05A2E</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>7FB90320-6EAF-415A-9DD9-50B79BC0F901</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>8956B5DB-42F0-4570-9265-ECD302239D56</key>
		<dict>
			<key>note</key>
			<string>View citation formats</string>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>8C9BC8AD-88E5-4822-A2D6-FE177D87AF64</key>
		<dict>
			<key>xpos</key>
			<integer>1040</integer>
			<key>ypos</key>
			<integer>1270</integer>
		</dict>
		<key>8F85FB21-8921-402F-BF70-C7C35E769212</key>
		<dict>
			<key>xpos</key>
			<integer>1040</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>9A384EEE-AA82-4FC5-8B13-1F7319613854</key>
		<dict>
			<key>note</key>
			<string>$action = open-in-zotero</string>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>A950947F-8EA7-4749-AF55-2C7F9D6E695E</key>
		<dict>
			<key>note</key>
			<string>Copy citation to pasteboard</string>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>730</integer>
		</dict>
		<key>A966EACB-331B-488E-937C-5D8DE7767B9D</key>
		<dict>
			<key>xpos</key>
			<integer>1040</integer>
			<key>ypos</key>
			<integer>1420</integer>
		</dict>
		<key>AB53FBF0-1EC6-43BE-96BA-A30A9E6E9B66</key>
		<dict>
			<key>note</key>
			<string>Call normal search with category pre-filled</string>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>AEE6452E-9186-4609-8AD4-D74F469F1A79</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>730</integer>
		</dict>
		<key>AF2071DD-5096-4528-8E57-EFD4E1817FEA</key>
		<dict>
			<key>note</key>
			<string>View entry attachments</string>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>B07E7A55-14DC-42F2-8321-17C2E8090E03</key>
		<dict>
			<key>note</key>
			<string>$action = choose-style</string>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>950</integer>
		</dict>
		<key>C76774C3-12EA-4242-AF38-35F8D7EA1E9B</key>
		<dict>
			<key>xpos</key>
			<integer>1380</integer>
			<key>ypos</key>
			<integer>730</integer>
		</dict>
		<key>C93018EF-4629-4261-B997-453D8F2D6856</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>D78E4F18-6D77-4514-A55F-8894C014AB60</key>
		<dict>
			<key>note</key>
			<string>$action = copy-cite</string>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>E1E3A9E7-0EEF-4745-A62C-79E46A2AF51F</key>
		<dict>
			<key>note</key>
			<string>$action = reload</string>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>1300</integer>
		</dict>
		<key>E703B0EC-921B-453A-A32F-14FDBFA54980</key>
		<dict>
			<key>note</key>
			<string>$next is set</string>
			<key>xpos</key>
			<integer>1420</integer>
			<key>ypos</key>
			<integer>950</integer>
		</dict>
		<key>F41A047D-DC74-4085-AD36-E52EDD909FBD</key>
		<dict>
			<key>xpos</key>
			<integer>1170</integer>
			<key>ypos</key>
			<integer>730</integer>
		</dict>
		<key>F912A5F2-6586-498F-8A32-C11B59C687F5</key>
		<dict>
			<key>note</key>
			<string>Choose default styles</string>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>920</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>ATTACHMENTS_DIR</key>
		<string></string>
		<key>CITE_CMD</key>
		<string></string>
		<key>CITE_OPT</key>
		<string></string>
		<key>ZOTERO_DIR</key>
		<string></string>
	</dict>
	<key>version</key>
	<string>0.1.2-beta</string>
	<key>webaddress</key>
	<string>https://github.com/deanishe/zothero</string>
</dict>
</plist>
